APP_ENV=local

MYSQL_DATABASE: drupal
MYSQL_USER: drupal
MYSQL_PASSWORD: drupal
MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

DB_DRIVER=mysql
DB_NAME=$MYSQL_DATABASE
DB_USERNAME=$MYSQL_USER
DB_PASSWORD=$MYSQL_PASSWORD
DB_HOST=mysql
DB_PORT=3306

HASH_SALT=drupalhashsalt
