# Ignore env specific files as they are personal.
/.env

/.idea/
/docker/dev/nginx/logs/
/private
!/private/.gitkeep
/vendor/
/web/core/
!/web/modules/.gitkeep
/web/modules/contrib/
!/web/profiles/.gitkeep
/web/profiles/contrib/
/web/sites/*/files/
!/web/sites/*/files/.gitkeep
/web/sites/default/default.settings.php
/web/sites/default/default.services.yml
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/simpletest
!/web/themes/.gitkeep
/web/themes/contrib/
/web/themes/custom/ntb/node_modules/
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/index.php
/web/INSTALL.txt
/web/robots.txt
/web/update.php
/web/web.config
/web/README.txt
/web/example.gitignore
/web/README.md
.phpunit.result.cache
